.content {
    padding: 3rem 2rem 0 2rem;
    &__add {
        font-size: 2rem;
        font-weight: 500;
        color: $text-color;
        text-decoration: underline;
        transition: color 0.25s ease;
        &:hover {
            color: $link-color;
        }
    }
}