.active-information {
    flex: 1;
}
.active-content {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5rem;
	&__container {
		display: flex;
	}
	&__image {
		flex: 1;
		// max-height: 75rem;
	}
	&__img {
		object-fit: cover;
		height: auto;
		background-position: center center;
		background-repeat: no-repeat;
		max-height: 750px;
		min-width: 100%;
		padding-right: 40px;
	}
	&__info {
		&-heading {
			font-size: 2.6rem;
			font-weight: 600;
			line-height: 1.2;
			letter-spacing: 1px;
			margin-bottom: 1.5rem;
			font-family: Arial, Helvetica, sans-serif;
			display: inline-block;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			word-wrap: break-word;
		}
		&-des {
			font-size: 1.6rem;
			display: flex;
			justify-content: space-between;
			padding-bottom: 1rem;
			border-bottom: 1px solid #888;
		}
		&-price {
			font-size: 4rem;
			font-weight: 400;
			padding: 3rem 0;
		}
		&-title {
			font-size: 1.6rem;
			margin-bottom: 3rem;
			p {
				padding-bottom: 1.4rem;
			}
			button {
				margin-left: 2rem;
			}
			&__desc {
				font-size: 1.4rem;
				line-height: 1.8rem;
				max-width: 62rem;
				padding: 0 !important;
				display: inline-block;
				display: -webkit-box;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				word-wrap: break-word;
			}
		}
		&-color button:hover,
		&--active {
			border: 3px solid #ff008e;
		}
	}
}
