html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body {
	font-family: "Futura Std", sans-serif;
	color: $text-color;
	font-weight: 400;
	background-color: #fcfcfc;
	transition: all 0.2s;
	overflow-x: hidden;
}
input, button {
	outline: none;
	border: 0;
}
img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.container {
	margin: 0 auto;
	max-width: 132rem;
	padding: 0 2rem;
}
.wrapper {
	max-width: 144rem;
	margin: 0 auto;
}
.logo {
	&-link {
		font-size: 2.4rem;
		color: white;
		font-weight: 600;
		line-height: calc(75 / 24);
	}
}
.delete__hover {
	color: $text-color;
	&:hover {
		color: red;
	}
}
.link__hover {
	color: $text-color;
	&:hover {
		color: $link-color;
	}
}
.flex {
	display: flex;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.fs-32 {
	font-size: 3.2rem;
}
.limit__line {
	display: inline-block;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
}